body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1f2937;
    font-size: 24px;
    padding: 16px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 48px;
    padding: 36px;
    flex: 1;
    font-weight: bolder;
    color: #f9faf8;
}

.top p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: white;
    border-width: 1px;
    border-radius: 4px;
    width: 100px;
    height: 30px;
}

.middle-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 32px;
    font-weight: bolder;
    color: #1f2937;
}

.box {
    font-size: 18px;
    color: #1f2937;
}

.middle-two {
    display: flex;
    padding: 32px;
    background-color: #E5E7EB;
    font-weight: bold;
}

.middle-two p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.middle-three  {
    display: flex;
    padding: 32px;
    background-color: #3882f6;
    color: #f9faf8;
}

.middle-three button {
    border-color: white;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #1f2937;
    color: #f9faf8;
}