body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1f2937;
    font-size: 24px;
    padding: 16px;
    gap: 16px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 48px;
    padding: 36px;
    flex: 1;
    color: #f9faf8;
}

.top p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: white;
    border-width: 1px;
    border-radius: 4px;
    width: 100px;
    height: 30px;
}

.middle-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    padding: 32px;
    font-weight: bolder;
    color: #1f2937;
}

.border {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin: 0;
    color: #1f2937;
}

.gallery {
    max-width: 250px;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

.display  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 32px;
}
.text {
    font-size: 18px;
    text-wrap: wrap;
    padding-top: 8px;
}

.middle-two {
    display: flex;
    padding: 32px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-wrap: wrap;
    padding: 100px;
    margin: 100px;
}

.thor {
    text-align: right;
    font-weight: 800;
    padding-right: 64px;
}

.quotation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-three  {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #3882f6;
    color: #f9faf8;
}

.middle-three button {
    border-color: white;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #1f2937;
    color: #f9faf8;
}