body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 48px;
    padding: 36px;
    flex: 1;
    font-weight: bolder;
    color: #f9faf8;
}

.top p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
}

.middle-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box {
    font-size: 18px;
    color: #1f2937;
}

.middle-two {
    background-color: #E5E7EB;
    font-weight: bold;
}

.middle-two p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.middle-three  {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}